<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft – Cloud, Computers, Apps &amp; Gaming</title>
    <link rel="shortcut icon" href="/image/Microsoft_logo.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="/layouts/css/styles.css">
</head>

<body>
    <div class="navbar flex justify-between items-center p-1  md:my-4 md:mx-16 ">
        <div class="flex  items-center md:hidden ">
            <div class="inline-block cursor-pointer md:hidden border-black border p-3 border-dashed  ">
                <div class=" h-0.5 w-5 my-1  bg-black  "></div>
                <div class=" h-0.5 w-5 my-1  bg-black  "></div>
                <div class=" h-0.5 w-5 my-1  bg-black  "></div>
            </div>
            <div class="ml-4   md:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg>
              </div>
        </div>

        <div class="text-center flex md:order-1"><div ><img src="../image/microsoftlogo.png" alt="" class="w-24 cursor-pointer mr-5"></div>
            <div class="features  bg-gray-100 text-gray-700 text-xs md:bg-inherit absolute inset-0 -translate-x-[410px] md:translate-x-0  md:relative md:flex md:space-x-4 md:mx-4 md:text-sm items-center w-fit">
                <div class="fitems hover:underline hover:underline-offset-4 decoration-[3px] cursor-pointer  ">Microsoft 365</div>
                <div class="fitems hover:underline hover:underline-offset-4 decoration-[3px] cursor-pointer  ">Teams</div>
                <div class="fitems hover:underline hover:underline-offset-4 decoration-[3px] cursor-pointer  ">Windows</div>
                <div class="fitems hover:underline hover:underline-offset-4 decoration-[3px] cursor-pointer  ">Surface</div>
                <div class="fitems hover:underline hover:underline-offset-4 decoration-[3px] cursor-pointer  ">Xbox</div>
                <div class="fitems hover:underline hover:underline-offset-4 decoration-[3px] cursor-pointer  ">Support</div>
            </div>
        </div>
        <div class="text-center flex md:order-2 ">
            <div class="hidden  md:flex text-gray-700 text-sm mr-6 hover:underline hover:underline-offset-4 decoration-[3px] cursor-pointer ">All Microsoft<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-4 ml-2 mt-1 text-gray-700 cursor-pointer ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
              </div>
            <div class="mr-4  md:block hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-5 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg>
              </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-4 mr-8 text-gray-800 mt-1 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-5 text-gray-600 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
              </svg>
              
        </div>

    </div>

    <div class="slider flex flex-col-reverse md:flex-row cursor-pointer  md:bg-[#f2f2f2]">
  <div class="up mx-5 flex flex-col justify-center md:mx-28 ">
    <h1 class="text-2xl font-semibold ">Surface Laptop 4</h1>
    <p class="my-3 md:w-3/4 "> Do it all with a perfect balance of sleek, ultra-thin design, multitasking speed and improved performance
    </p>
    <button class="text-white px-2 py-2 bg-[#0067b8] font-medium rounded-sm w-fit my-2">Shop now</button>
  </div>
  <div class="down">
    <img src="../image/mbbg.png"  class="my-2 md:w-[64rem]" alt="">
    <!-- <img src="/image/mainbg.png"  class="hidden md:visible "> -->
  </div>
</div>
<hr class="text-black md:hidden  shadow-2xl my-4">
<div class="icons md:flex md:flex-row md:justify-center md:items-center md:gap-10 md:p-14">
    <div class="item flex flex-col  justify-center items-center">
        <img src="/image/m1.png" alt="" class="cursor-pointer"> 
        <p class="font-semibold text-[#277ec2] underline mb-5 mt-2 cursor-pointer">Choose your Microsoft 365 </p>
    </div>
    <div class="item flex flex-col justify-center items-center">
        <img src="/image/m2.png" alt="" class="cursor-pointer"> 
        <p class="font-semibold text-[#277ec2] underline mb-5 mt-2 cursor-pointer">Explore Surface devices  </p>
    </div>
    <div class="item flex flex-col justify-center items-center">
        <img src="/image/m3.png" alt="" class="cursor-pointer"> 
        <p class="font-semibold text-[#277ec2] underline mb-5 mt-2 cursor-pointer">Buy Xbox games  </p>
    </div>
    <div class="item flex flex-col justify-center items-center">
        <img src="/image/m4.png" alt="" class="cursor-pointer"> 
        <p class="font-semibold text-[#277ec2] underline mb-5 mt-2 cursor-pointer">Get Windows 11  </p>
    </div>
</div>
</body>

</html>